{% extends "blog/base.html" %}

{% block content %}  
<div class="member_header">
    <h2>로그인</h2>
</div>
<div class="member">
{% if form.errors %}
        <p class="error">이름과 비밀번호가 일치하지 않습니다. 다시 시도해주세요.</p>
    {% endif %}
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}      
            <p class="login_label">{{ form.username.label_tag }}</p>
            <p class="login_form">{{ form.username }}</p>
            <p class="login_label">{{ form.password.label_tag }}</p>
            <p class="login_form">{{ form.password }}</p>
        <input type="submit" value="로그인" class="member_btn btn btn-default"/>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>
    
{% endblock %}
